<section id="contact">
  <div class= "container">
    <h2 class="text-center section-heading">Contact Us</h2>
    <footer class="footer-distributed">

  			<div class="footer-left col-md-6">

  				<h3>Email</h3>
          <form action="#" method="post">

            <input type="text" name="email" placeholder="Email" />
            <textarea name="message" placeholder="Message"></textarea>
            <button>Send</button>
          </form>
              <div class="footer-icons">
              <a href="https://www.facebook.com/SwahiliBox/" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/SwahiliBox" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://www.linkedin.com/company-beta/9215703/" target="_blank"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-github" target="_blank"></i></a>
            </div>
    				</div>
    			<div class="footer-right col-md-6">
    				<div class= "span4">
              <div class= "widget map box-container padding38">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7959.603618385492!2d39.679719!3d-4.060787!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc8881c72871b043a!2sSwahili+Box!5e0!3m2!1sen!2ske!4v1503994726888" width="450" height="370" frameborder="0" style="border:0" allowfullscreen></iframe>
             </div>
            </div>
          </div>
    		</footer>
      </div>
    </section>
