<h1>Blog</h1>
<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
              <h1>Blog</h1>
      </div>
    <div class="col-lg-6 text-center">
  <img src="/assets/Pwani.jpg" class="center-block img-responsive" width="350" height="350" >
    </div>
    <div class="col-lg-6 text-center">
      <h4>November 2016</h4>
   <h4>Swahilibox</h4>
 <p class="text-muted">There are two distinguishing attributes of this unique name; SWAHILI, signifying its roots and origin from within a special City and Old Town in the Coastal region of Kenya known for its culture and heritage and BOX, a noun, but much deeper than that, representing a new beginning and a gift to society — the reason why most gifts are packaged delightfully in a beautifully wrapped box!<a href="https://medium.com/digital-opportunity-trust/swahilibox-the-tale-of-experiences-and-networks-amassed-d020b14c02c6" target="_blank"> Read more ...</a>
</p>
    </div>
      </div>
       <div class="col-lg-6 text-center">
                <h4>January 2016</h4>
                <h4 class="subheading">IoT Developers Africa Initiative</h4>
                <p class="text-muted">The IoT Developers Africa Initiative is an initiative backed by 3 entities in different parts of Kenya, aimed at creating a regional (and eventually Sub Saharan Africa network) of the Internet of Things Developers and Solution Providers. We specifically believe that Africa can fully exploit its growth potential if it fully utilizes the Internet of Things.<a href="https://swahilibox.co.ke/blog/2016/01/announcing-the-iot-developers-africa-initiative" target="_blank"> Read more ...</a></p>
       </div>
      <div class="col-lg-6 text-center">
        <img src="/assets/img3.jpg" class="center-block img-responsive" width="350" height="350" >
      </div>
      <div class="col-md-6">
        <img src="/assets/sbox1.jpg" class="center-block img-responsive" width="350" height="350" >
      </div>
      <div class="col-lg-6 text-center">
          <h4>November 2015</h4>
                <h4 class="subheading">Intel Developer Champs Re-Loaded</h4>
                <p class="text-muted">The Intel Developer challenge is a loyalty program that is run on an online page where developers are invited to take on different challenges such as Android, IoT, test an app on Testdroid, take a short online training etc.<a href="https://swahilibox.co.ke/blog/2015/11/announcing-the-intel-developer-champs-reloaded" target="_blank"> Read more ...</a></p>
      </div>

  </div>

  </div>
  </div>
  </div>
<div class="col-lg-12 text-center">
<a href="https://medium.com/@SwahiliBox" target="_blank" text-align:right ><i class="fa fa-arrow-right" aria-hidden="true"></i>
 More blogs</a>
</div>
</section>
