<header class="parallax3">
</header>

<section id="aboutus">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-6 text-center">
              <h1>about us</h1>
               <p>SwahiliBox is a project of M-Power (CBO). The Technology Open Space in Mombasa, Kenya which focuses on socio-economic technology empowerment,inspiring and developing individuals and help them develop new and innovative ideas through networking, access to training and support and professional mentoring and coaching.It brings together investors, donors, entrepreneurs, experts, artists, and other individuals and provides them with an opportunity to share knowledge,learn, find mentors and expound on their talents, abilities and innovative ideas that will lead to the development of Kenya and globally at large.
    </p>
      </div>

  </div>
     </div>

</section>

<div class="parallax">
  <section id="Partners">
      <h2 class="section-heading">Our Splendid Partners</h2>
</div>
<div class="container">
<div class="row">
  <img class="col-md-2" src="assets/pictures/partner_19.png" width="130" height="130">
  <img class="col-md-2" src="assets/pictures/partner_20.png" width="130" height="130">
  <img class="col-md-2" src="assets/pictures/partner_01.jpg" width="130" height="130">
  <img class="col-md-2" src="assets/pictures/partner_02.jpg" width="130" height="130">
  <img class="col-md-2" src="assets/pictures/partner_03.png" width="130" height="130">
  <img class="col-md-2" src="assets/pictures/partner_04.png" width="130" height="130">
</div>
<div class="row">
  <img class="col-md-2" src="assets/pictures/partner_05.png" width="130" height="130">
  <img class="col-md-2" src="assets/pictures/partner_06.png" width="130" height="130">
  <img class="col-md-2" src="assets/pictures/partner_07.jpg" width="130" height="130">
  <img class="col-md-2" src="assets/pictures/partner_08.png" width="130" height="130">
  <img class="col-md-2" src="assets/pictures/hivos.png" width="80" height="80">
  <img class="col-md-2" src="assets/pictures/partner_10.jpg" width="130" height="130">
</div>
<div class="row">
  <img class="col-md-2" src="assets/pictures/partner_11.png" width="130" height="130">
  <img class="col-md-2" src="assets/pictures/doen.jpg" width="80" height="80">
  <img class="col-md-2" src="assets/pictures/partner_13.jpg" width="130" height="130">
  <img class="col-md-2" src="assets/pictures/partner_14.png" width="130" height="130">
  <img class="col-md-2" src="assets/pictures/partner_15.png" width="130" height="130">
  <img class="col-md-2" src="assets/pictures/partner_16.png" width="130" height="130">
</div>
<div class="row">
  <img class="col-md-2" src="assets/pictures/partner_17.png" width="130" height="130">
  <img class="col-md-2" src="assets/pictures/partner_18.png" width="130" height="130">
  <img class="col-md-2" src="assets/pictures/partner_12.jpg" width="130" height="130">
  <img class="col-md-2" src="assets/pictures/partner_09.jpg" width="130" height="130">

</div>

</div>
</section>
<div class="parallax4">

      <h2 class="section-heading">Upcoming events</h2>
</div>
<section id="events">
<div class="container" style="padding-top:50px;" "margin-bottom:90px;">
<p class= "text-center">There are no upcoming events</p>
render template: "events/index"
<%= yield %>
    </div>
</div>

</div>

</div>
</section>

<div class="parallax2">
<section id="team">
      <h2 class="section-heading">Meet the Team</h2>
</div>

<div class="container" style="padding-top:50px;" "margin-bottom:90px;">
<div class="row">
  </div>

  <div class="col-md-4">
    <div class="team-member">
      <img src="assets/ahmed 2.jpeg" class="img-circle" alt="Cinque Terre" width="304" height="236">
      <div class="team-hover">
        <div class="desk">
          <h4>Ahmed Maawy</h4>
          <p>Executive Director</p>
        </div>
        <div class="s-link">

          <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
           <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

          <a href="https://www.facebook.com/ahmed.maawy" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://twitter.com/ahmedmaawy?lang=en"  target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
          <a>
            <a href="https://ke.linkedin.com/in/ahmedmaawy" target="_blank">
          <i class="fa fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4 col-sm-4">
    <div class="team-member">
      <img src="/assets/alysalim 1.jpeg" class="img-circle" alt="Cinque Terre" width="304" height="236">
      <div class="team-hover">
        <div class="desk">
          <h4>Aly Salim</h4>
          <p>Deputy Executive Director</p>
        </div>
        <div class="s-link">
          <a href="https://www.facebook.com/aly.salim.54?fref=ts"  target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://twitter.com/alyuweso"  target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
          <a>
            <a href="https://ke.linkedin.com/in/aly-uweso-abubakar-salim-" target="_blank">
          <i class="fa fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="team-member">
      <img src="assets/ajra 3.jpeg" class="img-circle" alt="Cinque Terre" width="304" height="236">
      <div class="team-hover">
        <div class="desk">
          <h4>Ajra Abdullatif</h4>
          <p>Director of Community Engagement</p>
        </div>
        <div class="s-link">
          <a href="https://www.facebook.com/ajralatif?fref=ts"  target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://twitter.com/ajralatif?lang=en"  target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
          <a>
            <a href="https://ke.linkedin.com/in/ajra-abdullatif-mohamed-2b4b1557" target="_blank">
          <i class="fa fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
</div>
</div>
</div>
</section>





<section id="success stories">
<div class="parallax5"></div>
<section id="stories">
  <h2 class="text-center" style="text-align: center; margin-top: 50px; margin-bottom: 50px;">success stories</h2>

  <div class="container">

  <div class="container" style="padding-top:50px;" "margin-bottom:90px;">

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
            <a href="/assets/pictures/obala.jpg" target="_blank"></a>
<img src="/assets/obala.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
<p>Japhet Obala</p>
<p>SwahiliBox is where my journey in the tech world began.
It's also where I got my first programming job.
It was also a great opportunity to level up in new skillsets and at the same time
give back to the community.
My greatest achievements have been having my PRs merged in big open source projects like NodeJS and React Dev Tools.
My advice to upcoming techies is, it all starts with discipline.</p>
</div>
</div>
<div class="col-md-4">
  <div class="thumbnail">
      <a href="/assets/denno.jpg" target="_blank"></a>
<img src="/assets/denno.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
<p> Dennis Onkangi </p>
<p>I joined SwahiliBox with an enthusiasm of learning new technological skills.I have gained various skills in embedded systems and wireless networks.
I came up with a working prototype (SmartSec), an intelligent security device that has the capability of detecting intrusion, taking real-time videos, images and sending automated sms notifications to owners of the owners when there is intrusion.
I participated in the pitching competition of innovations that was held at Limuru Incubation Hub and my innovation became the second best with a reward. </p>
</div>
</div>
<div class="col-md-4">
  <div class="thumbnail">
      <a href="/assets/oliver2.png" target="_blank"></a>
<img src="/assets/oliver2.png" class="img-rounded" alt="Cinque Terre" width="304" height="236">
<p>Oliver Ngoa</p>
<p>While at the space I did structured cabling for the data network.This included fiber splicing and termination of fiber from Seacom to the space, Wifi access points mounting and configurations, Bandwidth and user management.
I am employed by Groundsource International as a full stack developer.
Now a senior developer in charge of deploying new features, system integration with third parties like Facebook, whatsapp, Twilio, Nexmo, clickatell.I also do bug fixing and customer support.</p>
</div>
  </div>
  </div>
</div>
</section>
<div class="parallax6"></div>
