
<section id="Gallery">
    <div class="container">
      <div class="center">
        <div class="col-md-6  col-md-offset-3">
          <h2>Gallery</h2>
          <hr>
        </div>
      </div>
    </div>

        <div class="container">
        <div class="row">
          <div class="portfolio-items">
            <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/i.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                  </div
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/h.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/g.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/f.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/e.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/d.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/j.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/k.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/l.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/m.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/n.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/o.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/p.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/q.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/r.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/o.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/s.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/t.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/u.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/v.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/w.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/x.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/c.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="/assets/image/a.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->
          </div>
        </div>
      </div>
    </div>
    </section><!--/#portfolio-item-->
